/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Cascadia Code;
  background-color: var(--background);
  color: var(--text);
  --text: #fdedf0;
  --background: #000000;
  --primary: #ff0037;
  --secondary: #20040a;
  --accent: #d81842;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

/* center body */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

code {
  font-family: Cascadia Mono;
  font-size: 1rem;
  color: var(--accent);
  border: #20040a 1px solid;
  border-radius: 0.25rem;
  background-color: var(--secondary);
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  user-select: all;
}

li {
  height: 1.5rem;
  line-height: 1.5rem;
}

.copy {
  font-family: Cascadia Mono;
  font-size: 1rem;
  color: var(--accent);
  border: var(--accent) 1px solid;
  border-radius: 0.25rem;
  background-color: var(--secondary);
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
}

.copy:hover {
  background-color: var(--primary);
  color: var(--background);
}

/* animate the .copy button on click, and go back to normal after .25 seconds */
.copy:active {
  transform: scale(0.9);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
}
